extends ../../components/base/_skeleton
include ../../components/rd-navbar/_rd-navbar

block variables
  - pageName = title;
  - htmlClass.push('page-small-footer');

block page
  header.section.page-header
    +rd-navbar

  section.section-xs
    .container
      .row.justify-content-center
        .col-lg-6
          .panel
            .panel-header
              h5.panel-title
                span.panel-icon.linearicons-lock
                = ' '
                span= title

            .panel-body
              if userError && userError.length
                +alert({close:false}).alert-danger.alert-sm
                  span.alert-icon.fa-exclamation-triangle
                  span= Array.isArray(userError) ? userError.join('. ') : userError
              if userSuccess && userSuccess.length
                +alert({close:false}).alert-success.alert-sm
                  span.alert-icon.fa-check-circle
                  span= Array.isArray(userSuccess) ? userSuccess.join('. ') : userSuccess

              form(role='form' class='stat-form' method='POST' action='/auth/change-password')
                // CSRF
                input(type='hidden', name='_csrf', value=csrfToken)

                .form-group
                  label.form-label(for='oldPassword') Поточний пароль
                  .input-group
                    .input-group-prepend
                      span.input-group-text.linearicons-lock
                    input#oldPassword.form-control(type='password', name='oldPassword', required, autocomplete='current-password')

                .form-group
                  label.form-label(for='newPassword') Новий пароль
                  .input-group
                    .input-group-prepend
                      span.input-group-text.linearicons-lock
                    input#newPassword.form-control(type='password', name='newPassword', required, minlength='8', autocomplete='new-password')
                  small.form-text.text-muted Мінімум 8 символів, з літерами та цифрами.

                .form-group
                  label.form-label(for='confirmPassword') Підтвердження пароля
                  .input-group
                    .input-group-prepend
                      span.input-group-text.linearicons-lock
                    input#confirmPassword.form-control(type='password', name='confirmPassword', required, autocomplete='new-password')

                button.btn.btn-primary.w-100.mt-3(type='submit')
                  span.linearicons-check.mr-2
                  | Змінити пароль

  include ../layout/footer
