extends ../../components/base/_skeleton
include ../../components/rd-navbar/_rd-navbar
//- include ../components/breadcrumbs/_breadcrumbs
//- include ../components/input/_input
//- include ../components/progress-circle/_progress-circle
//- include ../components/progress/_progress

block variables
  - pageName = title;
  - htmlClass.push( 'page-small-footer' );

block page
  header.section.page-header
    +rd-navbar

  section.section-xs
    .container
      .row.justify-content-center
        .col-lg-8
          .panel
            .panel-header
              h5.panel-title
                span.panel-icon.linearicons-user-plus
                = ' '
                span= title
            .panel-body
              form(role='form' class='stat-form' method='POST' action='/users/add')
                .row
                  if userError && userError.length
                    .col-12.mb-4
                      +alert( {close: false} ).alert-danger.alert-sm
                        span.alert-icon.fa-exclamation-triangle
                        span= userError
                  .col-xl-6
                    div.form-group
                      label(class='form-label' for='firstname') Імʼя:
                      .form-control-wrapper
                        input#firstname.form-control(type='text', name='firstname', required)
                    div.form-group
                      label(class='form-label' for='email') Емейл:
                      .form-control-wrapper
                        input#email.form-control(type='text', name='email', required)
                    div.form-group
                      label(class='form-label' for='telegram') Телеграм аккаунт:
                      .form-control-wrapper
                        input#telegram.form-control(type='text', name='telegram')
                  .col-xl-6
                    div.form-group
                      label(class='form-label' for='lastname') Прізвище:
                      .form-control-wrapper
                        input#lastname.form-control(type='text', name='lastname', required)
                    div.form-group
                      label(class='form-label' for='password') Пароль:
                      .form-control-wrapper
                        input#password.form-control(type='password', name='password', required)
                    div.form-group
                      label(class='form-label' for='role') Рівень доступу:
                      .form-control-wrapper
                        select#role.form-control(type='text', name='role', required)
                          option(name='user', value='user') user
                          option(name='manager', value='manager') manager
                          option(name='admin', value='admin') admin
                  .col-3.mt-3
                    div.form-group
                      label(class='form-label' for='webID') WebID:
                      .form-control-wrapper
                        input#webid.form-control(type='text', name='webID', required)
                  .col-9.mt-3
                    div.form-group
                      label(class='form-label' for='position') Позиція:
                      .form-control-wrapper
                        input#position.form-control(type='text', name='position', required)

                  .col-12.mt-4
                    button.btn.btn-primary.submit-btn.w-100.mb-4(type="submit") Створити
                    a.btn.btn-light(href="/users")
                      span.mdi-keyboard-backspace.mr-2
                      span= 'До списку'

  footer
    include ../layout/footer

