.widget-counter-simple,
.widget-counter-simple-fill {
  position: relative;
  padding: 0.9375rem 1.25rem;
  overflow: hidden;
}
.widget-counter-simple .widget-counter-text,
.widget-counter-simple-fill .widget-counter-text {
  color: #6c757d;
}
.widget-counter-simple .widget-counter-icon,
.widget-counter-simple-fill .widget-counter-icon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 100px;
  line-height: 1;
}

.widget-counter-simple {
  background-color: #fff;
}

.widget-counter-simple-primary {
  color: #0052ff;
}
.widget-counter-simple-primary .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-primary-fill {
  background-color: #0052ff;
  color: #fff;
}
.widget-counter-simple-primary-fill .widget-counter-text {
  color: #fff;
}
.widget-counter-simple-primary-fill .widget-counter-title {
  color: #fff;
}

.widget-counter-simple-secondary {
  color: #1bc773;
}
.widget-counter-simple-secondary .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-secondary-fill {
  background-color: #1bc773;
  color: #fff;
}
.widget-counter-simple-secondary-fill .widget-counter-text {
  color: #fff;
}
.widget-counter-simple-secondary-fill .widget-counter-title {
  color: #fff;
}

.widget-counter-simple-success {
  color: #00c3aa;
}
.widget-counter-simple-success .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-success-fill {
  background-color: #00c3aa;
  color: #fff;
}
.widget-counter-simple-success-fill .widget-counter-text {
  color: #fff;
}
.widget-counter-simple-success-fill .widget-counter-title {
  color: #fff;
}

.widget-counter-simple-info {
  color: #8bd3fb;
}
.widget-counter-simple-info .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-info-fill {
  background-color: #8bd3fb;
  color: #1a2643;
}
.widget-counter-simple-info-fill .widget-counter-text {
  color: #1a2643;
}
.widget-counter-simple-info-fill .widget-counter-title {
  color: #1a2643;
}

.widget-counter-simple-warning {
  color: #feb006;
}
.widget-counter-simple-warning .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-warning-fill {
  background-color: #feb006;
  color: #1a2643;
}
.widget-counter-simple-warning-fill .widget-counter-text {
  color: #1a2643;
}
.widget-counter-simple-warning-fill .widget-counter-title {
  color: #1a2643;
}

.widget-counter-simple-danger {
  color: #fe355f;
}
.widget-counter-simple-danger .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-danger-fill {
  background-color: #fe355f;
  color: #fff;
}
.widget-counter-simple-danger-fill .widget-counter-text {
  color: #fff;
}
.widget-counter-simple-danger-fill .widget-counter-title {
  color: #fff;
}

.widget-counter-simple-light {
  color: #dde3e8;
}
.widget-counter-simple-light .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-light-fill {
  background-color: #dde3e8;
  color: #1a2643;
}
.widget-counter-simple-light-fill .widget-counter-text {
  color: #1a2643;
}
.widget-counter-simple-light-fill .widget-counter-title {
  color: #1a2643;
}

.widget-counter-simple-dark {
  color: #1a2643;
}
.widget-counter-simple-dark .widget-counter-title {
  color: inherit;
}

.widget-counter-simple-dark-fill {
  background-color: #1a2643;
  color: #fff;
}
.widget-counter-simple-dark-fill .widget-counter-text {
  color: #fff;
}
.widget-counter-simple-dark-fill .widget-counter-title {
  color: #fff;
}

.widget-counter-boxed {
  text-align: center;
  background-color: #fff;
}
.widget-counter-boxed .widget-counter-text {
  text-transform: uppercase;
}
.widget-counter-boxed .widget-counter-text,
.widget-counter-boxed .widget-counter-footer-icon {
  color: #00c3aa;
}
.widget-counter-boxed .widget-counter-body {
  padding: 2.1875rem 1.25rem 1.25rem;
}
.widget-counter-boxed .widget-counter-footer {
  padding: 0.9375rem 1.25rem;
  border-top: 1px solid #6c757d;
  text-transform: uppercase;
}
.widget-counter-boxed .widget-counter-icon {
  font-size: 4rem;
  line-height: 1;
  opacity: 0.6;
}
.widget-counter-boxed .widget-counter-icon-rounded {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  line-height: 5rem;
  border-radius: 50%;
  background-color: rgba(26, 38, 67, 0.1);
}

* + .widget-counter-text {
  margin-top: 0.4375rem;
}

* + .widget-counter-title {
  margin-top: 0.4375rem;
}

.widget-counter-icon-rounded + .widget-counter-title {
  margin-top: 0.9375rem;
}

[class*=widget-counter-boxed-] .widget-counter-footer {
  border-top: 0;
}
[class*=widget-counter-boxed-] .widget-counter-text,
[class*=widget-counter-boxed-] .widget-counter-footer-icon {
  color: inherit;
}

.widget-counter-boxed-primary {
  color: #fff;
  background-color: #0052ff;
}
.widget-counter-boxed-primary .widget-counter-footer {
  background-color: rgb(0, 65.6, 204);
}
.widget-counter-boxed-primary .widget-counter-title {
  color: #fff;
}
.widget-counter-boxed-primary .widget-counter-icon-rounded {
  background-color: rgb(0, 65.6, 204);
}
.widget-counter-boxed-primary .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-primary .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #0052ff;
}

.widget-counter-boxed-secondary {
  color: #fff;
  background-color: #1bc773;
}
.widget-counter-boxed-secondary .widget-counter-footer {
  background-color: rgb(20.907079646, 154.092920354, 89.0486725664);
}
.widget-counter-boxed-secondary .widget-counter-title {
  color: #fff;
}
.widget-counter-boxed-secondary .widget-counter-icon-rounded {
  background-color: rgb(20.907079646, 154.092920354, 89.0486725664);
}
.widget-counter-boxed-secondary .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-secondary .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #1bc773;
}

.widget-counter-boxed-success {
  color: #fff;
  background-color: #00c3aa;
}
.widget-counter-boxed-success .widget-counter-footer {
  background-color: rgb(0, 144, 125.5384615385);
}
.widget-counter-boxed-success .widget-counter-title {
  color: #fff;
}
.widget-counter-boxed-success .widget-counter-icon-rounded {
  background-color: rgb(0, 144, 125.5384615385);
}
.widget-counter-boxed-success .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-success .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #00c3aa;
}

.widget-counter-boxed-info {
  color: #1a2643;
  background-color: #8bd3fb;
}
.widget-counter-boxed-info .widget-counter-footer {
  background-color: rgb(89.7, 192.3, 249.3);
}
.widget-counter-boxed-info .widget-counter-title {
  color: #1a2643;
}
.widget-counter-boxed-info .widget-counter-icon-rounded {
  background-color: rgb(89.7, 192.3, 249.3);
}
.widget-counter-boxed-info .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-info .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #8bd3fb;
}

.widget-counter-boxed-warning {
  color: #1a2643;
  background-color: #feb006;
}
.widget-counter-boxed-warning .widget-counter-footer {
  background-color: rgb(208.164, 142.956, 0.836);
}
.widget-counter-boxed-warning .widget-counter-title {
  color: #1a2643;
}
.widget-counter-boxed-warning .widget-counter-icon-rounded {
  background-color: rgb(208.164, 142.956, 0.836);
}
.widget-counter-boxed-warning .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-warning .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #feb006;
}

.widget-counter-boxed-danger {
  color: #fff;
  background-color: #fe355f;
}
.widget-counter-boxed-danger .widget-counter-footer {
  background-color: rgb(253.7487684729, 2.2512315271, 54.802955665);
}
.widget-counter-boxed-danger .widget-counter-title {
  color: #fff;
}
.widget-counter-boxed-danger .widget-counter-icon-rounded {
  background-color: rgb(253.7487684729, 2.2512315271, 54.802955665);
}
.widget-counter-boxed-danger .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-danger .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #fe355f;
}

.widget-counter-boxed-light {
  color: #1a2643;
  background-color: #dde3e8;
}
.widget-counter-boxed-light .widget-counter-footer {
  background-color: rgb(190.5789473684, 201.9473684211, 211.4210526316);
}
.widget-counter-boxed-light .widget-counter-title {
  color: #1a2643;
}
.widget-counter-boxed-light .widget-counter-icon-rounded {
  background-color: rgb(190.5789473684, 201.9473684211, 211.4210526316);
}
.widget-counter-boxed-light .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-light .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #dde3e8;
}

.widget-counter-boxed-dark {
  color: #fff;
  background-color: #1a2643;
}
.widget-counter-boxed-dark .widget-counter-footer {
  background-color: rgb(11.7419354839, 17.1612903226, 30.2580645161);
}
.widget-counter-boxed-dark .widget-counter-title {
  color: #fff;
}
.widget-counter-boxed-dark .widget-counter-icon-rounded {
  background-color: rgb(11.7419354839, 17.1612903226, 30.2580645161);
}
.widget-counter-boxed-dark .widget-counter-footer-dark {
  background-color: #1a2643;
}
.widget-counter-boxed-dark .widget-counter-footer-dark .widget-counter-footer-icon {
  color: #1a2643;
}
/*# sourceMappingURL=widget-counter.css.map */
