extends layout/layout-index

block content
  .splash
    h1.sixtyfour-convergence-splash-logo= title
  div.text-center
    <a class="btn btn-primary btn-lg" href="/auth">login</a>
block footer
  include layout/footer

