extends layout

block content
  .container
    .row
      .col-6
        h1.mb-5= title
        h2.mb-4
          | Upload files:
        ul(class="nav nav-tabs mb-4" id="statisticsTabs" role="tablist")
          li(class="nav-item" role="statistics")
            button(class="nav-link active" id="onebot-tab" data-bs-toggle="tab" data-bs-target="#onebot" type="button" role="tab" aria-controls="onebot" aria-selected="true") OneBot
          li(class="nav-item" role="statistics")
            button(class="nav-link" id="pwa-tab" data-bs-toggle="tab" data-bs-target="#pwa" type="button" role="tab" aria-controls="pwa" aria-selected="true") PWA
        div(class="tab-content" id="myTabContent")
          div(class="tab-pane fade show active" id="onebot" role="tabpanel" aria-labelledby="onebot-tab")
            form(role='form' class='stat-form' method='POST' action='/botstatistics' enctype="multipart/form-data")
              div.form-group.mb-4
                label(class='form-label' for='fb_stat') Facebook Statistics:
                .form-control-wrapper
                  input#name.form-control(type='file', name='fb_stat', required)
              div.form-group.mb-5
                label(class='form-label' for='keitaro_stat') Keitaro Statistics:
                .form-control-wrapper
                  input#email.form-control(type='file', name='keitaro_stat_conversions', required)
              button.btn.btn-primary.submit-btn.w-100(type="submit") Submit

          div(class="tab-pane fade" id="pwa" role="pwa" aria-labelledby="pwa-tab")
            form(role='form' class='stat-form' method='POST' action='/pwastatistics' enctype="multipart/form-data")
              div.form-group.mb-4
                label(class='form-label' for='fb_stat') Facebook Statistics:
                .form-control-wrapper
                  input#name.form-control(type='file', name='fb_stat', required)
              div.form-group.mb-4
                label(class='form-label' for='keitaro_stat') Keitaro Statistics (Clicks):
                .form-control-wrapper
                  input#email.form-control(type='file', name='keitaro_stat_clicks', required)
              div.form-group.mb-5
                label(class='form-label' for='keitaro_stat') Keitaro Statistics (Conversions):
                .form-control-wrapper
                  input#email.form-control(type='file', name='keitaro_stat_conversions', required)
              button.btn.btn-primary.submit-btn.w-100(type="submit") Submit
      .col-6
        img(class="intro-img", src="../images/OneStat_bg.png", alt="")
  
        

