extends layout/layout

block header
  include layout/header

block content
  .container
    .row
      .col-12
        h2.mb-4
          | Авторизація
        if error && error.length
          div.alert.alert-danger= error
        form(role='form' class='stat-form' method='POST' action='/auth/login')
          div.form-group.mb-4
            label(class='form-label' for='email') Емейл:
            .form-control-wrapper
              input#email.form-control(type='text', name='email', required)
              <div class="invalid-feedback">Please provide a valid state.</div>
          div.form-group.mb-5
            label(class='form-label' for='password') Пароль:
            .form-control-wrapper
              input#password.form-control(type='password', name='password', required)
          button.btn.btn-primary.submit-btn.w-100(type="submit") Увійти

block footer
  include layout/footer

