@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/tables";

// Base
.table {
	margin-bottom: 0;
}

// Modifies
.table-vertical-align {
	td, th {
		vertical-align: middle;
	}
}

.table-align-1 {
	th:nth-child( 1 ),
	td:nth-child( 1 ){
		text-align: center;
	}
}

// Data table context
.data-table {
	width: 100% !important;
}

// table context in panel
.table-in-panel {
	&.table {
		th{
			border-top: none;
			padding: px-to-rem( 20px );
			font-size: px-to-rem( 12px );
			line-height: px-to-rem( 28px );
			text-transform: uppercase;
		}
		td {
			padding: px-to-rem( 20px );
		}
	}
}
