.alert {
  position: relative;
  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: 700;
}

.alert-dismissible {
  padding-right: 3.90625rem;
}
.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1.25rem;
  color: inherit;
}

.alert-primary {
  color: rgb(0, 42.64, 132.6);
  background-color: rgb(204, 220.4, 255);
  border-color: rgb(183.6, 206.56, 255);
}
.alert-primary hr {
  border-top-color: rgb(158.1, 189.26, 255);
}
.alert-primary .alert-link {
  color: rgb(0, 26.24, 81.6);
}

.alert-secondary {
  color: rgb(14.04, 103.48, 59.8);
  background-color: rgb(209.4, 243.8, 227);
  border-color: rgb(191.16, 239.32, 215.8);
}
.alert-secondary hr {
  border-top-color: rgb(170.6881690141, 234.2918309859, 203.2295774648);
}
.alert-secondary .alert-link {
  color: rgb(7.947079646, 58.572920354, 33.8486725664);
}

.alert-success {
  color: rgb(0, 101.4, 88.4);
  background-color: #ccf3ee;
  border-color: rgb(183.6, 238.2, 231.2);
}
.alert-success hr {
  border-top-color: rgb(162.9571428571, 233.3428571429, 224.319047619);
}
.alert-success .alert-link {
  color: rgb(0, 50.4, 43.9384615385);
}

.alert-info {
  color: rgb(72.28, 109.72, 130.52);
  background-color: rgb(231.8, 246.2, 254.2);
  border-color: rgb(222.52, 242.68, 253.88);
}
.alert-info hr {
  border-top-color: rgb(197.87, 233.33, 253.03);
}
.alert-info .alert-link {
  color: rgb(54.1030769231, 82.1276923077, 97.6969230769);
}

.alert-warning {
  color: rgb(132.08, 91.52, 3.12);
  background-color: rgb(254.8, 239.2, 205.2);
  border-color: rgb(254.72, 232.88, 185.28);
}
.alert-warning hr {
  border-top-color: rgb(254.618, 224.822, 159.882);
}
.alert-warning .alert-link {
  color: rgb(82.2569230769, 56.9969230769, 1.9430769231);
}

.alert-danger {
  color: rgb(132.08, 27.56, 49.4);
  background-color: rgb(254.8, 214.6, 223);
  border-color: rgb(254.72, 198.44, 210.2);
}
.alert-danger hr {
  border-top-color: rgb(254.5943842365, 173.0656157635, 190.1014778325);
}
.alert-danger .alert-link {
  color: rgb(89.8845602606, 18.7554397394, 33.6182410423);
}

.alert-light {
  color: rgb(114.92, 118.04, 120.64);
  background-color: rgb(248.2, 249.4, 250.4);
  border-color: rgb(245.48, 247.16, 248.56);
}
.alert-light hr {
  border-top-color: rgb(230.2694736842, 234.6336842105, 238.2705263158);
}
.alert-light .alert-link {
  color: rgb(90.039205298, 92.4837086093, 94.520794702);
}

.alert-dark {
  color: rgb(13.52, 19.76, 34.84);
  background-color: rgb(209.2, 211.6, 217.4);
  border-color: rgb(190.88, 194.24, 202.36);
}
.alert-dark hr {
  border-top-color: rgb(176.8764028777, 180.9702158273, 190.8635971223);
}
.alert-dark .alert-link {
  color: black;
}

.alert {
  margin-bottom: 0;
  font-size: 0.9375rem;
  line-height: 1.47;
  border-width: 0;
}
.alert h1, .alert h2, .alert h3, .alert h4, .alert h5, .alert h6, .alert .h1, .alert .h2, .alert .h3, .alert .h4, .alert .h5, .alert .h6 {
  color: inherit;
}
.alert a:not(.btn) {
  color: inherit;
  text-decoration: underline;
}
.alert a:not(.btn):hover {
  text-decoration: none;
}

.alert-dismissible {
  padding-right: 2.65625rem;
}

.alert-sm {
  padding: 0.8rem 1rem;
  font-size: 0.75rem;
}
.alert-sm.alert-dismissible {
  padding-right: 2.75rem;
}

.alert-lg {
  padding: 1.2rem 1.5rem;
  font-size: 1.125rem;
}
.alert-lg.alert-dismissible {
  padding-right: 2.625rem;
}

.alert-border-left {
  border-left-width: 5px;
}

.alert-border-right {
  border-right-width: 5px;
}

.alert-border-top {
  border-top-width: 5px;
}

.alert-border-bottom {
  border-bottom-width: 5px;
}

.alert-icon {
  padding-right: 0.4em;
  font-size: 1.25em;
  line-height: 1;
  vertical-align: middle;
}
.alert-icon ~ * {
  vertical-align: middle;
}

* + .alert {
  margin-top: 0.9375rem;
}

.alert-primary {
  color: #fff;
  background-color: #0052ff;
  border-color: rgba(255, 255, 255, 0.2);
}
.alert-primary hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-primary .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-primary.alert-darker {
  color: #fff;
  background-color: rgb(0, 65.6, 204);
  border-color: rgb(0, 49.2, 153);
}
.alert-primary.alert-darker hr {
  border-top-color: rgb(0, 41, 127.5);
}
.alert-primary.alert-darker .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-primary.alert-lighter {
  color: #fff;
  background-color: rgb(51, 116.6, 255);
  border-color: #0052ff;
}
.alert-primary.alert-lighter hr {
  border-top-color: rgb(0, 73.8, 229.5);
}
.alert-primary.alert-lighter .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}

.alert-secondary {
  color: #fff;
  background-color: #1bc773;
  border-color: rgba(255, 255, 255, 0.2);
}
.alert-secondary hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-secondary .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-secondary.alert-darker {
  color: #fff;
  background-color: rgb(20.907079646, 154.092920354, 89.0486725664);
  border-color: rgb(14.814159292, 109.185840708, 63.0973451327);
}
.alert-secondary.alert-darker hr {
  border-top-color: rgb(11.767699115, 86.732300885, 50.1216814159);
}
.alert-secondary.alert-darker .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-secondary.alert-lighter {
  color: rgb(14.04, 103.48, 59.8);
  background-color: rgb(49.8362831858, 227.1637168142, 140.5619469027);
  border-color: #1bc773;
}
.alert-secondary.alert-lighter hr {
  border-top-color: rgb(23.953539823, 176.546460177, 102.0243362832);
}
.alert-secondary.alert-lighter .alert-link {
  color: rgb(7.947079646, 58.572920354, 33.8486725664);
}

.alert-success {
  color: #fff;
  background-color: #00c3aa;
  border-color: rgba(255, 255, 255, 0.2);
}
.alert-success hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-success .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-success.alert-darker {
  color: #fff;
  background-color: rgb(0, 144, 125.5384615385);
  border-color: rgb(0, 93, 81.0769230769);
}
.alert-success.alert-darker hr {
  border-top-color: rgb(0, 67.5, 58.8461538462);
}
.alert-success.alert-darker .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-success.alert-lighter {
  color: rgb(0, 101.4, 88.4);
  background-color: rgb(0, 246, 214.4615384615);
  border-color: #00c3aa;
}
.alert-success.alert-lighter hr {
  border-top-color: rgb(0, 169.5, 147.7692307692);
}
.alert-success.alert-lighter .alert-link {
  color: rgb(0, 50.4, 43.9384615385);
}

.alert-info {
  color: rgb(72.28, 109.72, 130.52);
  background-color: #8bd3fb;
  border-color: rgba(72.28, 109.72, 130.52, 0.2);
}
.alert-info hr {
  border-top-color: rgba(63.1915384615, 95.9238461538, 114.1084615385, 0.2);
}
.alert-info .alert-link {
  color: rgb(54.1030769231, 82.1276923077, 97.6969230769);
}
.alert-info.alert-darker {
  color: rgb(72.28, 109.72, 130.52);
  background-color: rgb(89.7, 192.3, 249.3);
  border-color: rgb(40.4, 173.6, 247.6);
}
.alert-info.alert-darker hr {
  border-top-color: rgb(15.75, 164.25, 246.75);
}
.alert-info.alert-darker .alert-link {
  color: rgb(54.1030769231, 82.1276923077, 97.6969230769);
}
.alert-info.alert-lighter {
  color: rgb(72.28, 109.72, 130.52);
  background-color: rgb(188.3, 229.7, 252.7);
  border-color: #8bd3fb;
}
.alert-info.alert-lighter hr {
  border-top-color: rgb(114.35, 201.65, 250.15);
}
.alert-info.alert-lighter .alert-link {
  color: rgb(54.1030769231, 82.1276923077, 97.6969230769);
}

.alert-warning {
  color: rgb(132.08, 91.52, 3.12);
  background-color: #feb006;
  border-color: rgba(132.08, 91.52, 3.12, 0.2);
}
.alert-warning hr {
  border-top-color: rgba(107.1684615385, 74.2584615385, 2.5315384615, 0.2);
}
.alert-warning .alert-link {
  color: rgb(82.2569230769, 56.9969230769, 1.9430769231);
}
.alert-warning.alert-darker {
  color: #fff;
  background-color: rgb(208.164, 142.956, 0.836);
  border-color: rgb(157.368, 108.072, 0.632);
}
.alert-warning.alert-darker hr {
  border-top-color: rgb(131.97, 90.63, 0.53);
}
.alert-warning.alert-darker .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-warning.alert-lighter {
  color: rgb(132.08, 91.52, 3.12);
  background-color: rgb(254.204, 192.116, 56.796);
  border-color: #feb006;
}
.alert-warning.alert-lighter hr {
  border-top-color: rgb(233.562, 160.398, 0.938);
}
.alert-warning.alert-lighter .alert-link {
  color: rgb(82.2569230769, 56.9969230769, 1.9430769231);
}

.alert-danger {
  color: #fff;
  background-color: #fe355f;
  border-color: rgba(255, 255, 255, 0.2);
}
.alert-danger hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-danger .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-danger.alert-darker {
  color: #fff;
  background-color: rgb(253.7487684729, 2.2512315271, 54.802955665);
  border-color: rgb(203.9901477833, 1.0098522167, 43.4236453202);
}
.alert-danger.alert-darker hr {
  border-top-color: rgb(178.6157635468, 0.8842364532, 38.0221674877);
}
.alert-danger.alert-darker .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-danger.alert-lighter {
  color: #fff;
  background-color: rgb(254.2512315271, 103.7487684729, 135.197044335);
  border-color: #fe355f;
}
.alert-danger.alert-lighter hr {
  border-top-color: rgb(253.8743842365, 27.6256157635, 74.9014778325);
}
.alert-danger.alert-lighter .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}

.alert-light {
  color: rgb(114.92, 118.04, 120.64);
  background-color: #dde3e8;
  border-color: rgba(114.92, 118.04, 120.64, 0.2);
}
.alert-light hr {
  border-top-color: rgba(102.479602649, 105.2618543046, 107.580397351, 0.2);
}
.alert-light .alert-link {
  color: rgb(90.039205298, 92.4837086093, 94.520794702);
}
.alert-light.alert-darker {
  color: rgb(114.92, 118.04, 120.64);
  background-color: rgb(190.5789473684, 201.9473684211, 211.4210526316);
  border-color: rgb(160.1578947368, 176.8947368421, 190.8421052632);
}
.alert-light.alert-darker hr {
  border-top-color: rgb(144.9473684211, 164.3684210526, 180.5526315789);
}
.alert-light.alert-darker .alert-link {
  color: rgb(90.039205298, 92.4837086093, 94.520794702);
}
.alert-light.alert-lighter {
  color: rgb(114.92, 118.04, 120.64);
  background-color: rgb(251.4210526316, 252.0526315789, 252.5789473684);
  border-color: #dde3e8;
}
.alert-light.alert-lighter hr {
  border-top-color: rgb(205.7894736842, 214.4736842105, 221.7105263158);
}
.alert-light.alert-lighter .alert-link {
  color: rgb(90.039205298, 92.4837086093, 94.520794702);
}

.alert-dark {
  color: #fff;
  background-color: #1a2643;
  border-color: rgba(255, 255, 255, 0.2);
}
.alert-dark hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-dark .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-dark.alert-darker {
  color: #fff;
  background-color: rgb(11.7419354839, 17.1612903226, 30.2580645161);
  border-color: black;
}
.alert-dark.alert-darker hr {
  border-top-color: black;
}
.alert-dark.alert-darker .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
.alert-dark.alert-lighter {
  color: #fff;
  background-color: rgb(40.2580645161, 58.8387096774, 103.7419354839);
  border-color: #1a2643;
}
.alert-dark.alert-lighter hr {
  border-top-color: rgb(18.8709677419, 27.5806451613, 48.6290322581);
}
.alert-dark.alert-lighter .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}

.alert-primary.alert-gradient {
  color: #fff;
  background-color: rgb(0, 65.6, 204);
  border-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #0052ff, rgb(51, 116.6, 255)) repeat-x;
}
.alert-primary.alert-gradient hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-primary.alert-gradient .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}

.alert-secondary.alert-gradient {
  color: #fff;
  background-color: rgb(20.907079646, 154.092920354, 89.0486725664);
  border-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #1bc773, rgb(49.8362831858, 227.1637168142, 140.5619469027)) repeat-x;
}
.alert-secondary.alert-gradient hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-secondary.alert-gradient .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}

.alert-success.alert-gradient {
  color: #fff;
  background-color: rgb(0, 144, 125.5384615385);
  border-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #00c3aa, rgb(0, 246, 214.4615384615)) repeat-x;
}
.alert-success.alert-gradient hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-success.alert-gradient .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}

.alert-info.alert-gradient {
  color: rgb(72.28, 109.72, 130.52);
  background-color: rgb(89.7, 192.3, 249.3);
  border-color: rgba(72.28, 109.72, 130.52, 0.2);
  background: linear-gradient(180deg, #8bd3fb, rgb(188.3, 229.7, 252.7)) repeat-x;
}
.alert-info.alert-gradient hr {
  border-top-color: rgba(63.1915384615, 95.9238461538, 114.1084615385, 0.2);
}
.alert-info.alert-gradient .alert-link {
  color: rgb(54.1030769231, 82.1276923077, 97.6969230769);
}

.alert-warning.alert-gradient {
  color: rgb(132.08, 91.52, 3.12);
  background-color: rgb(208.164, 142.956, 0.836);
  border-color: rgba(132.08, 91.52, 3.12, 0.2);
  background: linear-gradient(180deg, #feb006, rgb(254.204, 192.116, 56.796)) repeat-x;
}
.alert-warning.alert-gradient hr {
  border-top-color: rgba(107.1684615385, 74.2584615385, 2.5315384615, 0.2);
}
.alert-warning.alert-gradient .alert-link {
  color: rgb(82.2569230769, 56.9969230769, 1.9430769231);
}

.alert-danger.alert-gradient {
  color: #fff;
  background-color: rgb(253.7487684729, 2.2512315271, 54.802955665);
  border-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #fe355f, rgb(254.2512315271, 103.7487684729, 135.197044335)) repeat-x;
}
.alert-danger.alert-gradient hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-danger.alert-gradient .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}

.alert-light.alert-gradient {
  color: rgb(114.92, 118.04, 120.64);
  background-color: rgb(190.5789473684, 201.9473684211, 211.4210526316);
  border-color: rgba(114.92, 118.04, 120.64, 0.2);
  background: linear-gradient(180deg, #dde3e8, rgb(251.4210526316, 252.0526315789, 252.5789473684)) repeat-x;
}
.alert-light.alert-gradient hr {
  border-top-color: rgba(102.479602649, 105.2618543046, 107.580397351, 0.2);
}
.alert-light.alert-gradient .alert-link {
  color: rgb(90.039205298, 92.4837086093, 94.520794702);
}

.alert-dark.alert-gradient {
  color: #fff;
  background-color: rgb(11.7419354839, 17.1612903226, 30.2580645161);
  border-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #1a2643, rgb(40.2580645161, 58.8387096774, 103.7419354839)) repeat-x;
}
.alert-dark.alert-gradient hr {
  border-top-color: rgba(242.25, 242.25, 242.25, 0.2);
}
.alert-dark.alert-gradient .alert-link {
  color: rgb(229.5, 229.5, 229.5);
}
/*# sourceMappingURL=alert.css.map */
