block footer
  footer.footer.footer-small
    .d-flex.justify-content-between.align-items-center.group-10
      div
        | © Copyright 2024 TrafficOne. Designed &amp; developed by Impro

      div
        button.to-top.btn.btn-sm.btn-primary: span.fa-chevron-up
