doctype html
html
  head
    title= title
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">

    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:200,300,500,600')
    link(rel='icon', href='/images/favicon.ico',  type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/components/base/script.js')
  body
    header
      block header
    content
      block content
    footer
      block footer
