.rd-navbar-fixed {
  position: relative;
  z-index: 14;
}
.rd-navbar-fixed li {
  list-style: none;
}
.rd-navbar-fixed .rd-navbar-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 5px;
  min-height: 70px;
  background: #fff;
  transition: ease-in-out 0.2s;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}
.rd-navbar-fixed .rd-navbar-panel-cell {
  position: relative;
  padding: 0 5px;
}
.rd-navbar-fixed .rd-navbar-panel-cell:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  height: 30px;
  width: 1px;
  background: #dde3e8;
  transform: translateY(-50%);
}
.rd-navbar-fixed .rd-navbar-panel-cell:first-child:before, .rd-navbar-fixed .rd-navbar-panel-cell.rd-navbar-panel-cell-search:before {
  display: none;
}
.rd-navbar-fixed .rd-navbar-panel-cell.rd-navbar-panel-cell-search {
  padding: 0;
}
.rd-navbar-fixed .rd-navbar-panel-cell:last-child {
  padding-right: 0;
}
.rd-navbar-fixed .rd-navbar-panel-center {
  flex-grow: 1;
}
.rd-navbar-fixed .rd-navbar-panel-cell-fullscreen,
.rd-navbar-fixed .rd-navbar-panel-cell-search {
  display: none;
}
.rd-navbar-fixed .rd-navbar-panel-cell-user .btn-navbar-panel .media-body {
  display: none;
}
.rd-navbar-fixed .rd-navbar-subpanel {
  position: fixed;
  top: 4.375rem;
  right: 0;
  left: 0;
  transform: translateY(20px);
  display: flex;
  max-height: calc(100vh - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease-in-out;
  background: #f9f9f9;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.rd-navbar-fixed .rd-navbar-subpanel.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.rd-navbar-fixed .rd-navbar-subpanel > * {
  flex-grow: 1;
}
.rd-navbar-fixed .rd-navbar-sidebar {
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);
  width: 16.875rem;
  padding-bottom: 40px;
  transition: transform 0.2s ease-in-out;
  background: #fff;
  overflow: hidden;
  overflow-y: overlay;
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.08);
}
.rd-navbar-fixed .rd-navbar-sidebar-panel {
  padding: 15px;
}
.rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-sidebar-toggle {
  display: none;
}
.rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-brand {
  text-align: center;
}
.rd-navbar-fixed .rd-navbar-nav,
.rd-navbar-fixed .rd-navbar-dropdown {
  padding: 0;
}
.rd-navbar-fixed .rd-navbar-nav {
  width: 16.875rem;
}
.rd-navbar-fixed .rd-navbar-dropdown {
  display: none;
}
.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-link {
  padding-left: 60px;
}
.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-link:before {
  display: none;
}
.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-link {
  padding-left: 75px;
}
.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-link:before {
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  left: 60px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #a7a9b2;
  opacity: 1;
  transform: translateY(0);
}
.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-link:hover, .active .rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-link {
  color: #1a2643;
}
.rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-link:hover:before, .active .rd-navbar-fixed .rd-navbar-dropdown .rd-navbar-dropdown .rd-navbar-link:before {
  background: #0052ff;
}
.rd-navbar-fixed .rd-navbar-title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 10px 14px 30px;
  font-size: 0.8125rem;
  letter-spacing: 0.04em;
  font-weight: 400;
  text-transform: uppercase;
  color: #a7a9b2;
  transition: ease-in-out 0.2s;
}
.rd-navbar-fixed .rd-navbar-title .rd-navbar-title-icon {
  position: absolute;
  width: 20px;
  text-align: center;
  opacity: 0;
  transition: ease-in-out 0.2s;
}
.rd-navbar-fixed .rd-navbar-title .rd-navbar-title-text {
  transition: ease-in-out 0.2s;
  text-overflow: ellipsis;
}
.rd-navbar-fixed .rd-navbar-nav-item:not(:first-child) .rd-navbar-title {
  padding-top: 40px;
}
.rd-navbar-fixed .rd-navbar-nav-item,
.rd-navbar-fixed .rd-navbar-dropdown-item {
  border-top: 1px solid #dde3e8;
}
.rd-navbar-fixed .rd-navbar-nav-item:last-child {
  border-bottom: 1px solid #dde3e8;
}
.rd-navbar-fixed .rd-navbar-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px;
  font-size: 0.9375rem;
  padding-left: 30px;
  transition: ease-in-out 0.2s;
  color: #1a2643;
  overflow: hidden;
}
.rd-navbar-fixed .rd-navbar-link:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 4px;
  background: #0052ff;
  transform: translateY(-110%);
  transition: ease-in-out 0.2s;
  opacity: 0;
}
.rd-navbar-fixed .rd-navbar-link:hover {
  cursor: pointer;
  background: #f9f9f9;
  color: #0052ff;
}
.rd-navbar-fixed .rd-navbar-link:hover:before {
  transform: translateY(0);
  opacity: 1;
}
.rd-navbar-fixed .rd-navbar-link .rd-navbar-link-text {
  transition: ease-in-out 0.2s;
}
.rd-navbar-fixed .rd-navbar-dropdown {
  background: #f9f9f9;
}
.rd-navbar-fixed .rd-navbar-dropdown-item .rd-navbar-link {
  color: #a7a9b2;
  background: transparent;
}
.rd-navbar-fixed .rd-navbar-dropdown-item .rd-navbar-link:hover {
  background: transparent;
  color: #0052ff;
}
.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-link, .rd-navbar-fixed .rd-navbar-dropdown-item.opened > .rd-navbar-link {
  background: transparent;
  color: #0052ff;
}
.rd-navbar-fixed .rd-navbar-dropdown-item.active .rd-navbar-submenu-toggle, .rd-navbar-fixed .rd-navbar-dropdown-item.opened .rd-navbar-submenu-toggle {
  color: #0052ff;
}
.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-link,
.rd-navbar-fixed .rd-navbar-nav-item.active > .rd-navbar-link,
.rd-navbar-fixed .rd-navbar-nav-item.opened > .rd-navbar-link {
  background: #f9f9f9;
  color: #0052ff;
}
.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-link:before,
.rd-navbar-fixed .rd-navbar-nav-item.active > .rd-navbar-link:before,
.rd-navbar-fixed .rd-navbar-nav-item.opened > .rd-navbar-link:before {
  transform: translateY(0);
  opacity: 1;
}
.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-submenu-toggle,
.rd-navbar-fixed .rd-navbar-nav-item.active > .rd-navbar-submenu-toggle,
.rd-navbar-fixed .rd-navbar-nav-item.opened > .rd-navbar-submenu-toggle {
  color: #0052ff;
}
.rd-navbar-fixed .rd-navbar-dropdown-item.active > .rd-navbar-submenu-toggle:hover,
.rd-navbar-fixed .rd-navbar-nav-item.active > .rd-navbar-submenu-toggle:hover,
.rd-navbar-fixed .rd-navbar-nav-item.opened > .rd-navbar-submenu-toggle:hover {
  background: transparent;
}
.rd-navbar-fixed .rd-navbar-nav-item.opened > .rd-navbar-link {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08);
}
.rd-navbar-fixed .rd-navbar-icon {
  padding-right: 10px;
  font-size: 1.125rem;
  line-height: 1;
  transition: ease-in-out 0.2s;
}
.rd-navbar-fixed .rd-navbar-submenu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(0deg);
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1a2643;
  width: 40px;
  height: 50px;
  padding: 5px;
  transition: background 0.15s;
}
.rd-navbar-fixed .rd-navbar-submenu-toggle::before {
  content: "\ec3c";
  position: relative;
  font-family: "Linearicons";
  transition: transform 0.2s ease-in-out;
}
.rd-navbar-fixed .rd-navbar-submenu-toggle:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.rd-navbar-fixed .rd-navbar-submenu {
  position: relative;
}
.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-submenu-toggle::before {
  transform: rotate(90deg);
}
.rd-navbar-fixed .rd-navbar-submenu.opened > .rd-navbar-dropdown {
  display: block;
}

.rd-navbar-sidebar-search {
  position: relative;
}
.rd-navbar-sidebar-search:before {
  position: absolute;
  left: 20px;
  top: 7px;
  content: "\ec22";
  font-family: "Linearicons";
  font-size: 1.125rem;
  color: #a7a9b2;
  z-index: 2;
}
.rd-navbar-sidebar-search .form-control {
  padding: 9px 15px 9px 45px;
  height: 2.625rem;
  color: #a7a9b2;
  background: #fff;
  border-color: #dde3e8;
  border-radius: 3px;
}
.rd-navbar-sidebar-search .form-control::placeholder {
  color: #a7a9b2;
}

.rd-navbar-sidebar-active .rd-navbar-sidebar {
  transform: translateX(0);
}

@media (min-width: 576px) {
  .rd-navbar-fixed .rd-navbar-subpanel {
    position: absolute;
    top: calc(100% + 16px);
    right: 0;
    left: auto;
    width: 300px;
  }
  .rd-navbar-fixed .rd-navbar-subpanel#subpanel-user {
    top: calc(100% + 5px);
  }
  .rd-navbar-fixed .rd-navbar-subpanel.rd-navbar-subpanel-sm {
    width: 200px;
  }
}
@media (min-width: 768px) {
  .rd-navbar-fixed .rd-navbar-panel-cell-user .btn-navbar-panel .media-body {
    display: block;
  }
}
@media (min-width: 1200px) {
  .rd-navbar-fixed .rd-navbar-panel {
    left: 270px;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-sidebar-toggle {
    display: none;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell-search {
    display: block;
    max-width: 450px;
    width: 100%;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell {
    padding: 0 10px;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell.rd-navbar-panel-cell-search {
    padding: 0;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell:last-child {
    padding-right: 0;
  }
  .rd-navbar-fixed .rd-navbar-sidebar-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 20px;
    min-height: 70px;
    background: #fff;
  }
  .rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-sidebar-toggle {
    display: block;
  }
  .rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-sidebar-search {
    display: none;
  }
  .rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-brand {
    max-width: 160px;
  }
  .rd-navbar-fixed .rd-navbar-sidebar {
    top: 0;
    transform: translateX(0);
    transition: ease-in-out 0.2s;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-panel {
    left: 70px;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar-panel {
    justify-content: center;
    padding: 10px;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar-panel .rd-navbar-brand {
    width: 0;
    transition: ease-in-out 0.2s;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-title {
    padding-left: 25px;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-title .rd-navbar-title-icon {
    opacity: 1;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-nav-item > .rd-navbar-link {
    padding-left: 25px;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar {
    width: 4.375rem;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar .rd-navbar-title-text,
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar .rd-navbar-link-text {
    opacity: 0;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar .rd-navbar-nav-item.opened > .rd-navbar-dropdown {
    display: none;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover {
    width: 16.875rem;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-sidebar-panel {
    justify-content: space-between;
    padding: 10px 15px 10px 20px;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-title {
    padding-left: 30px;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-nav-item > .rd-navbar-link {
    padding-left: 30px;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-nav-item.opened > .rd-navbar-dropdown {
    display: block;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-title-icon {
    opacity: 0;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-title-text,
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-link-text {
    opacity: 1;
  }
  html:not(.rd-navbar-sidebar-active) .rd-navbar-fixed .rd-navbar-sidebar:hover .rd-navbar-brand {
    width: auto;
  }
}
@media (min-width: 1600px) {
  .rd-navbar-fixed .rd-navbar-panel {
    padding: 0 15px;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell {
    padding: 0 16px;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell:first-child {
    padding: 0;
  }
  .rd-navbar-fixed .rd-navbar-panel .rd-navbar-panel-cell:last-child {
    padding-right: 0;
  }
  .rd-navbar-panel-cell-search .form-control {
    max-width: 700px;
  }
}
/*# sourceMappingURL=rd-navbar.css.map */
