.sidebar.scroller.scroller-vertical
	.panel
		.panel-header
			h6.panel-title
				span.panel-icon.fa-question-circle
				span Є питання?
		.panel-body
			p З будь-якими питаннями, зауваженнями, пропозиціями - пиши в телеграм
			p
				a.btn.btn-secondary(href='https://t.me/ihormazurenko', target='_blank')
					span.fa-telegram.mr-3
					span= 'Написати'

