//- extends layout/layout
extends ../components/base/_skeleton
include ../components/rd-navbar/_rd-navbar
//- include ../components/breadcrumbs/_breadcrumbs
//- include ../components/input/_input
//- include ../components/progress-circle/_progress-circle
//- include ../components/progress/_progress

block variables
  - pageName = title;
  - htmlClass.push( 'page-small-footer' );

block page
  header.section.page-header
    +rd-navbar

  section.jumbotron
    h4= title
    p.lead Як налаштувати та користуватись автоматизацією заповнення детальної статистики
    hr.my-3
    p Перш ніж користуватися, необхідно налаштувати “OneStat” add-on в своїй Google таблиці.

    ol.mt-4
      li.mb-5
        p У свій файл з детальною статистикою скопіювати додатковий&nbsp;
          a(href='https://docs.google.com/spreadsheets/d/1LzETSJHmd1ZH5vbrE50FBnkwb5GSL5Fr1v3ypo00nK4/edit?gid=715864948#gid=715864948' target='_blank') лист з назвою OneStat
          |&nbsp;(назва має бути саме такою - OneStat)
        p.text-muted.font-italic Щоб зробити повну копію, з форматом і розмірами комірок, використовуй пункт меню
          strong “Копіювати в…” → “Iснуюча таблиця”:
        p
          img(src='/images/documentation/doc1.png', alt='', width=600)
        p Далі обери саме свою таблицю з детальною статистикою і встав лист. Створиться повна копія листа.

        p
          blockquote.blockquote.blockquote-danger
            strong ВАЖЛИВО!&nbsp;
            | Структуру цього листа змінювати не можна. Всі стовпчики мають бути на своїх місцях.

      li.mb-5
        p В своїй таблиці відкрити&nbsp;
          strong “Доповнення” → “Apps Script”:
        p
          img(src='/images/documentation/doc2.png', alt='', width=600)

      li.mb-5
        p.mt-4 У відкритому вікні, в полі для коду видалити весь вміст та вставити туди повністю весь код з&nbsp;
          a(href='https://docs.google.com/document/d/1IuSQdey2jzJOA7-aWNLWr2sytl5Bwnndbt1i_TiknyQ/edit', target='_blank') цього документу.
          br
          |&nbsp; Зберегти код (Command+S для MacOS, Ctrl+S для Win).

      li.mb-5
        p.mt-4 Онови сторінку з таблицею, після чого має зʼявитися пункт меню OneStat.
        p
          img(src='/images/documentation/doc3.png', alt='', width=600)

    p
      h6 OneStat add-on готовий до роботи.
    p
      blockquote.blockquote.blockquote-primary
        strong Примітка!&nbsp;
        | Автоматичне занесення статистики коректно працює, якщо використовується&nbsp;
        a(href='https://docs.google.com/spreadsheets/d/1Nh9EnTR2JomS2SEiRN8JjBPlUchMRrxvj7H7nYwmPJc/edit?gid=715002653#gid=715002653' target='_blank') цей формат таблиці.

        p При виникненні питань звертайся в&nbsp;
          a(href='https://t.me/onestat_support', target='_blank') підтримку.
    hr.my-3
    h6 Після завершення налаштувань, переходь до&nbsp;
      a(href='/documentation/usage') інструкції з використання.

  include layout/footer
