extends ../components/base/_skeleton
include ../components/input/_input
include ../components/alert/_alert

block variables
  -
    htmlClass[ htmlClass.indexOf( 'rd-navbar-sidebar-active' ) ] = '';
    pageName = title;

block page
  #particles-container
  section.section-lg.section-one-screen
    .container
      .row.justify-content-center
        .col-lg-6
          .row.row-10.align-items-end
            .col-6.col-sm-7
              a( href='/' ): img( src='images/logo.svg', alt='onestat' )

          form.panel(role='form' class='stat-form' method='POST' action='/auth/login')
            .panel-header
              .row.row-10
                .col-12
                  h5= title
            .panel-body
              .row.row-30
                .col-lg-12.order-lg-1
                  if error && error.length
                    div.mb-4
                      +alert( {close: false} ).alert-danger.alert-sm
                        span.alert-icon.fa-exclamation-triangle
                        span= error
                  .form-group
                    label( for='email' ) Емейл
                    .input-group
                      .input-group-prepend
                        span.input-group-text.fa.fa-user
                      input#email.form-control( type='text', name='email', placeholder='Емейл', autocomplete='on', required )
                  .form-group
                    label( for='password' ) Пароль
                    .input-group
                      .input-group-prepend
                        span.input-group-text.fa.fa-lock
                      input#password.form-control( type='password', name='password', placeholder='Пароль', autocomplete='on', required )
            .panel-footer
              .row.row-10
                .col-sm-6
                  +switch({ id: 'rememberme', name: 'rememberme'}).custom-switch-lg.custom-switch-primary Запамʼятати мене
                .col-sm-6.text-sm-right
                  button.btn.btn-primary( type='submit' ) Увійти

block sidebar
