@import "../bootstrap/scss/functions";
@import "../base/functions";
@import "../base/variables";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

.sidebar {
	position: fixed;
	top: 70px;
	bottom: 0;
	right: 0;
	transform: translateX( 101% );
	z-index: $zindex-dropdown;
	width: 280px;
	transition: transform .2s ease-in-out;
	background: $white;
	overflow: hidden;
	overflow-y: scroll;
	box-shadow: $box-shadow-sm;

	&.active {
		transform: translateX( 0 );
	}
}

// Modifiers
.sidebar-lg {
	width: 320px;
}
