-
	var
		logo = {
			default: 'logo-300x300.png',
			name: 'Onestat'
		},
		menu = [
			{
				heading: 'меню',
				access: ['user', 'manager', 'admin']
			},
			{
				title: 'Дашборд',
				link: '/dashboard',
				icon: 'linearicons-icons2',
				access: ['user', 'manager', 'admin']
			},
			{
				title: 'Команди',
				link: '#',
				icon: 'linearicons-site-map',
				access: ['admin', 'manager'],
				dropdown: [
					{
						title: 'Media Buying',
						link: '/teams/mediabuying',
						icon: 'linearicons-cash-dollar'
					},
					{
						title: 'Моя команда',
						link: '/teams/myteam',
						icon: 'linearicons-users2'
					}
				]
			},
			{
				title: 'Оффери',
				link: '/offers',
				icon: 'linearicons-papers',
				access: ['manager', 'admin']
			},
			{
				title: 'Статистика',
				link: '/statistics',
				icon: 'linearicons-chart-bars',
				access: ['user', 'manager', 'admin']
			},
			{
				heading: 'Налаштування',
				access: ['user', 'manager', 'admin']
			},
			{
				title: 'Користувачі',
				link: '/users',
				icon: 'linearicons-users2',
				access: ['manager', 'admin']
			},
			{
				title: 'Інструкція',
				link: '#',
				icon: 'linearicons-reading',
				access: ['user', 'manager', 'admin'],
				dropdown: [
					{
						title: 'Налаштування',
						link: '/documentation/setup',
						icon: 'linearicons-cog'
					},
					{
						title: 'Використання',
						link: '/documentation/usage',
						icon: 'linearicons-file-spreadsheet'
					}
				]
			},
			{
				title: 'Підтримка',
				link: 'https://t.me/onestat_support',
				icon: 'linearicons-paper-plane',
				access: ['user', 'manager', 'admin'],
				blank: true
			},
			//- { heading: 'Menu' },
			//- {
			//- 	title: 'Dashboard',
			//- 	link: 'index.html',
			//- 	icon: 'linearicons-icons2'
			//- },
			//- {
			//- 	title: 'Calendar',
			//- 	icon: 'linearicons-calendar-full'
			//- },
			//- {
			//- 	title: 'Documentation',
			//- 	icon: 'fa-book',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Bootstrap Components',
			//- 			link: 'documentation.html#bootstrap-components',
			//- 			dropdown: [
			//- 				{
			//- 					title: 'Button',
			//- 					link: 'documentation.html#button'
			//- 				},
			//- 				{
			//- 					title: 'Badge',
			//- 					link: 'documentation.html#badge'
			//- 				},
			//- 				{
			//- 					title: 'Code',
			//- 					link: 'documentation.html#code'
			//- 				},
			//- 				{
			//- 					title: 'Media Object',
			//- 					link: 'documentation.html#media'
			//- 				},
			//- 				{
			//- 					title: 'Card',
			//- 					link: 'documentation.html#card'
			//- 				},
			//- 				{
			//- 					title: 'Table',
			//- 					link: 'documentation.html#table'
			//- 				},
			//- 				{
			//- 					title: 'Progress',
			//- 					link: 'documentation.html#progress'
			//- 				},
			//- 				{
			//- 					title: 'Close',
			//- 					link: 'documentation.html#close'
			//- 				},
			//- 				{
			//- 					title: 'Pagination',
			//- 					link: 'documentation.html#pagination'
			//- 				},
			//- 				{
			//- 					title: 'Alert',
			//- 					link: 'documentation.html#alert'
			//- 				},
			//- 				{
			//- 					title: 'Dropdown',
			//- 					link: 'documentation.html#dropdown'
			//- 				},
			//- 				{
			//- 					title: 'Nav',
			//- 					link: 'documentation.html#nav'
			//- 				},
			//- 				{
			//- 					title: 'Tooltip',
			//- 					link: 'documentation.html#tooltip'
			//- 				},
			//- 				{
			//- 					title: 'Modal',
			//- 					link: 'documentation.html#modal'
			//- 				},
			//- 				{
			//- 					title: 'Jumbotron',
			//- 					link: 'documentation.html#jumbotron'
			//- 				},
			//- 				{
			//- 					title: 'Input',
			//- 					link: 'documentation.html#input'
			//- 				}
			//- 			]
			//- 		},
			//- 		{
			//- 			title: 'Plugins',
			//- 			link: 'documentation.html#plugins',
			//- 			dropdown: [
			//- 				{
			//- 					title: 'Nprogress',
			//- 					link: 'documentation.html#Nprogress'
			//- 				},
			//- 				{
			//- 					title: 'Highlight.js',
			//- 					link: 'documentation.html#highlight'
			//- 				},
			//- 				{
			//- 					title: 'Dual Listbox',
			//- 					link: 'documentation.html#dual-listbox'
			//- 				},
			//- 				{
			//- 					title: 'Bootstrap Maxlength',
			//- 					link: 'documentation.html#maxlength'
			//- 				},
			//- 				{
			//- 					title: 'Typeahead.js',
			//- 					link: 'documentation.html#typeahead'
			//- 				},
			//- 				{
			//- 					title: 'Select2',
			//- 					link: 'documentation.html#select2'
			//- 				},
			//- 				{
			//- 					title: 'jQuery UI Spinner',
			//- 					link: 'documentation.html#spinner'
			//- 				},
			//- 				{
			//- 					title: 'Time Spinner',
			//- 					link: 'documentation.html#time-spinner'
			//- 				},
			//- 				{
			//- 					title: 'Date Range Picker',
			//- 					link: 'documentation.html#daterangepiker'
			//- 				},
			//- 				{
			//- 					title: 'Bootstrap Date/Timepicker',
			//- 					link: 'documentation.html#datetimepicker'
			//- 				},
			//- 				{
			//- 					title: 'Tags Manager',
			//- 					link: 'documentation.html#tag-manager'
			//- 				},
			//- 				{
			//- 					title: 'Bootstrap Colorpicker',
			//- 					link: 'documentation.html#colorpicker'
			//- 				},
			//- 				{
			//- 					title: 'jQuery Masked Input',
			//- 					link: 'documentation.html#maskedinput'
			//- 				},
			//- 				{
			//- 					title: 'CKeditor',
			//- 					link: 'documentation.html#ckeditor'
			//- 				},
			//- 				{
			//- 					title: 'Summernote',
			//- 					link: 'documentation.html#summernote'
			//- 				},
			//- 				{
			//- 					title: 'Markdown.js',
			//- 					link: 'documentation.html#markdown'
			//- 				},
			//- 				{
			//- 					title: 'Nestable jQuery Plugin',
			//- 					link: 'documentation.html#nestable'
			//- 				},
			//- 				{
			//- 					title: 'jsTree',
			//- 					link: 'documentation.html#jstree'
			//- 				},
			//- 				{
			//- 					title: 'Cropper.js',
			//- 					link: 'documentation.html#cropper'
			//- 				},
			//- 				{
			//- 					title: 'Tower File Input',
			//- 					link: 'documentation.html#fileupload'
			//- 				},
			//- 				{
			//- 					title: 'EasyZoom',
			//- 					link: 'documentation.html#easyzoom'
			//- 				},
			//- 				{
			//- 					title: 'xZoom',
			//- 					link: 'documentation.html#xzoom'
			//- 				},
			//- 				{
			//- 					title: 'Slick Slider',
			//- 					link: 'documentation.html#slick'
			//- 				},
			//- 				{
			//- 					title: 'DropzoneJS',
			//- 					link: 'documentation.html#dropzone'
			//- 				},
			//- 				{
			//- 					title: 'PNotify',
			//- 					link: 'documentation.html#pnotify'
			//- 				},
			//- 				{
			//- 					title: 'Driver.js',
			//- 					link: 'documentation.html#driver'
			//- 				},
			//- 				{
			//- 					title: 'αCountdown',
			//- 					link: 'documentation.html#countdown'
			//- 				},
			//- 				{
			//- 					title: 'αCounter & αProgressCircle',
			//- 					link: 'documentation.html#progress-circle'
			//- 				},
			//- 				{
			//- 					title: 'Particles.js',
			//- 					link: 'documentation.html#particles'
			//- 				},
			//- 				{
			//- 					title: 'Lightgallery',
			//- 					link: 'documentation.html#lightgallery'
			//- 				},
			//- 				{
			//- 					title: 'jVectorMap',
			//- 					link: 'documentation.html#jvectormap'
			//- 				},
			//- 				{
			//- 					title: 'Flot',
			//- 					link: 'documentation.html#flotchart'
			//- 				},
			//- 				{
			//- 					title: 'RD Navbar',
			//- 					link: 'documentation.html#rd-navbar'
			//- 				},
			//- 				{
			//- 					title: 'Highcharts',
			//- 					link: 'documentation.html#highcharts'
			//- 				},
			//- 				{
			//- 					title: 'MultiSwitch',
			//- 					link: 'documentation.html#multiswitch'
			//- 				}
			//- 			]
			//- 		}
			//- 	]
			//- },
			//- { heading: 'Theme tools' },
			//- {
			//- 	title: 'Admin plugins',
			//- 	link: '#',
			//- 	icon: 'linearicons-cog',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Admin panels',
			//- 			icon: 'linearicons-grid'
			//- 		},
			//- 		{
			//- 			title: 'Admin modals',
			//- 			icon: 'linearicons-exclude'
			//- 		},
			//- 		{
			//- 			title: 'Admin Dock',
			//- 			icon: 'linearicons-transform'
			//- 		}
			//- 	]
			//- },
			//- {
			//- 	title: 'Admin layouts',
			//- 	link: '#',
			//- 	icon: 'fa-columns',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Navbar',
			//- 			icon: 'linearicons-location'
			//- 		},
			//- 		{
			//- 			title: 'Topbar',
			//- 			link: '#',
			//- 			icon: 'linearicons-menu3',
			//- 			dropdown: [
			//- 				{ title: 'Breadcrumbs' },
			//- 				{ title: 'Topbar Menu' }
			//- 			]
			//- 		},
			//- 		{
			//- 			title: 'Content Body',
			//- 			link: '#',
			//- 			icon: 'linearicons-menu-square',
			//- 			dropdown: [
			//- 				{ title: 'Blank Starter' },
			//- 				{ title: 'Jumbotron' },
			//- 				{ title: 'Content Tabs' }
			//- 			]
			//- 		}
			//- 	]
			//- },

			//- { heading: 'Systems' },
			//- {
			//- 	title: 'Information Panels',
			//- 	link: '#',
			//- 	icon: 'linearicons-menu-circle',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Tile Widgets',
			//- 			icon: 'linearicons-cube'
			//- 		},
			//- 		{
			//- 			title: 'Panel Widgets',
			//- 			icon: 'linearicons-new-tab'
			//- 		},
			//- 		{
			//- 			title: 'Admin Widgets',
			//- 			icon: 'linearicons-move'
			//- 		}
			//- 	]
			//- },
			//- {
			//- 	title: 'Ecommerce',
			//- 	link: '#',
			//- 	icon: 'linearicons-cart',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Ecommerce dashboard',
			//- 			icon: 'linearicons-cart-plus'
			//- 		},
			//- 		{
			//- 			title: 'Products',
			//- 			icon: 'linearicons-tags'
			//- 		},
			//- 		{
			//- 			title: 'Orders',
			//- 			icon: 'linearicons-receipt'
			//- 		},
			//- 		{
			//- 			title: 'Customers',
			//- 			icon: 'linearicons-users2'
			//- 		},
			//- 		{
			//- 			title: 'Store Settings',
			//- 			icon: 'linearicons-cog2'
			//- 		}
			//- 	]
			//- },
			//- { heading: 'Elements' },
			//- {
			//- 	title: 'UI Elements',
			//- 	link: '#',
			//- 	icon: 'linearicons-texture',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Alerts',
			//- 			icon: 'linearicons-list4'
			//- 		},
			//- 		{
			//- 			title: 'Animations',
			//- 			icon: 'linearicons-loading3'
			//- 		},
			//- 		{
			//- 			title: 'Buttons',
			//- 			icon: 'linearicons-radio-button'
			//- 		},
			//- 		{
			//- 			title: 'Typography',
			//- 			icon: 'linearicons-bold'
			//- 		},
			//- 		{
			//- 			title: 'Panel',
			//- 			icon: 'linearicons-text-align-justify'
			//- 		},
			//- 		{
			//- 			title: 'Progress Bars',
			//- 			icon: 'linearicons-chart-bars'
			//- 		},
			//- 		{
			//- 			title: 'Tabs',
			//- 			icon: 'linearicons-folder-plus'
			//- 		},
			//- 		{
			//- 			title: 'Icons',
			//- 			icon: 'linearicons-diamond2'
			//- 		},
			//- 		{
			//- 			title: 'Grid',
			//- 			icon: 'linearicons-grid'
			//- 		}
			//- 	]
			//- },
			//- {
			//- 	title: 'Form Elements',
			//- 	link: '#',
			//- 	icon: 'linearicons-menu',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Basic Inputs',
			//- 			icon: 'linearicons-mouse-left'
			//- 		},
			//- 		{
			//- 			title: 'Plugin Inputs',
			//- 			icon: 'linearicons-menu3'
			//- 		},
			//- 		{
			//- 			title: 'Editors',
			//- 			icon: 'linearicons-contract3'
			//- 		},
			//- 		{
			//- 			title: 'Treeview',
			//- 			icon: 'linearicons-arrows-split'
			//- 		},
			//- 		{
			//- 			title: 'Nestable',
			//- 			icon: 'linearicons-plus-square'
			//- 		},
			//- 		{
			//- 			title: 'Image tools',
			//- 			icon: 'linearicons-picture'
			//- 		},
			//- 		{
			//- 			title: 'Uploaders',
			//- 			icon: 'linearicons-loading'
			//- 		},
			//- 		{
			//- 			title: 'Notifications',
			//- 			icon: 'linearicons-label'
			//- 		},
			//- 		{
			//- 			title: 'Content Sliders',
			//- 			icon: 'linearicons-toggle'
			//- 		}
			//- 	]
			//- },
			//- {
			//- 	title: 'Plugins',
			//- 	link: '#',
			//- 	icon: 'linearicons-puzzle',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Maps',
			//- 			link: '#',
			//- 			icon: 'linearicons-map',
			//- 			dropdown: [
			//- 				{ title: 'Google Maps' },
			//- 				{ title: 'jVector Map' }
			//- 			]
			//- 		},
			//- 		{
			//- 			title: 'Charts',
			//- 			link: '#',
			//- 			icon: 'linearicons-chart-growth',
			//- 			dropdown: [
			//- 				{ title: 'Highcharts' },
			//- 				{ title: 'Flotcharts' }
			//- 			]
			//- 		},
			//- 		{
			//- 			title: 'Tables',
			//- 			link: '#',
			//- 			icon: 'linearicons-grid',
			//- 			dropdown: [
			//- 				{ title: 'Basic Tables' },
			//- 				{ title: 'Data Tables' },
			//- 				{ title: 'Pricing Tables' }
			//- 			]
			//- 		},
			//- 		{
			//- 			title: 'Misc',
			//- 			link: '#',
			//- 			icon: 'linearicons-layers',
			//- 			dropdown: [
			//- 				{ title: 'Site Tour' },
			//- 				{ title: 'Session Timeout' },
			//- 				{ title: 'Page Progress Loader' }
			//- 			]
			//- 		}
			//- 	]
			//- },
			//- {
			//- 	title: 'Pages',
			//- 	link: '#',
			//- 	icon: 'linearicons-file-spreadsheet',
			//- 	dropdown: [
			//- 		{
			//- 			title: 'Utility',
			//- 			link: '#',
			//- 			icon: 'linearicons-file-code',
			//- 			dropdown:[
			//- 				{ title: 'Confirmation' },
			//- 				{ title: 'Login' },
			//- 				{ title: 'Register' },
			//- 				{ title: 'Screenlock' },
			//- 				{ title: 'Password Reset' },
			//- 				{ title: 'Coming Soon' },
			//- 				{ title: '404' },
			//- 				{ title: '500' }
			//- 			]
			//- 		},
			//- 		{
			//- 			title: 'Basic',
			//- 			link: '#',
			//- 			icon: 'linearicons-cube',
			//- 			dropdown: [
			//- 				{ title: 'Search Results' },
			//- 				{ title: 'Profile' },
			//- 				{ title: 'Timeline' },
			//- 				{ title: 'FAQ' },
			//- 				{ title: 'Calendar' },
			//- 				{ title: 'Messages' },
			//- 				{ title: 'Messages Compose' },
			//- 				{ title: 'Gallery' },
			//- 				{ title: 'Printable Invoice' }
			//- 			]
			//- 		}
			//- 	]
			//- }
		],

		homePage = menu[1],
		pageName = homePage.title,
		pageClass = null,
		htmlClass = [ 'rd-navbar-sidebar-active' ],
		breadcrumbs = [];
