.panel
	.panel-header.p-2
		h6.panel-title
			span.panel-icon.fa-pencil
			= ' '
			span Chat widget
	.panel-body.scroller.scroller-vertical.p-2
		.media.media-cloud.group-10
			.media-item
				img( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
			.media-body
				h6.media-heading.offline
					| Sara Marshall
					= ' '
					small - 12:30am
				.media-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

		.media.media-cloud.flex-row-reverse.group-10
			.media-item
				img( src='images/users/user-03-50x50.jpg', width='50', height='50', alt='' )
			.media-body.media-body-right-caret
				h6.media-heading.online
					| Tom Jorgensen
					= ' '
					small - 12:30am
				.media-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

		.media.media-cloud.group-10
			.media-item
				img( src='images/users/user-02-50x50.jpg', width='50', height='50', alt='' )
			.media-body
				h6.media-heading.offline
					| Sara Marshall
					= ' '
					small - 12:30am
				.media-text Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.

		.media.media-cloud.flex-row-reverse.group-10
			.media-item
				img( src='images/users/user-03-50x50.jpg', width='50', height='50', alt='' )
			.media-body.media-body-right-caret
				h6.media-heading.online
					| Tom Jorgensen
					= ' '
					small - 12:30am
				.media-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
	.panel-footer.p-2
		.input-group.form-group
			input.form-control( type='text', placeholder='Enter your message' )
			.input-group-append 
				button.btn.btn-primary Send
